#ballJumpFloorId {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    height: 50vh;
    width: 40vh;
    background-color: rgba(17, 17, 16, 0.377);
    rotate: 150deg;
    animation: ballFloorAnim 10s infinite;
    border-color: rgba(17, 17, 16, 0.267);
    border-style: groove;
    border-width: 20px;
    font-size: 10px;
    color: red !important;
    border-radius: 500px 50px 1px 1px;
    text-shadow: 5px 5px 1px yellow;
}

#ballJumpFloorId::after {
    content: 'HCKME';
    color: aliceblue;
    float: right;
}

@keyframes ballFloorAnim {
    99% {
        opacity: 50%;
    }
    50% {
        transform: perspective(50em) rotateX(-300deg) rotateY(-300deg);
        opacity: 100%;
    }
}

#ball {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 200px;
    transform-style: preserve-3d;
    animation: ballAnim 5s infinite;
    box-shadow: -1px 1px 5px rgb(250, 246, 8);
    text-align: center;
    color: rgb(56, 56, 55);
    font-size: 1.5rem;
    font-weight: bold;
}

#ball::after {
    content: ".CSS";
}

@keyframes ballAnim {
    50% {
        bottom: 1000px;
    }
    50% {
        top: 600px;
        opacity: 0%;
    }
}