.diarySt1Class {
    height: 10%;
    width: 10%;
    background-color: rgb(56, 56, 55);
    border-radius: 15px;
    font-size: 65%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    float: left;
    transition: 2s;
    text-align: center;
}

.diarySt1Class:hover {
    opacity: 0%;
    background-color: rgba(5, 26, 54, 0.39);
    cursor: pointer;
}

.appendDiary {
    height: 100%;
    width: 100%;
    opacity: 100% !important;
    cursor: default !important;
}