
body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-color: black; */
}

#containerId {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: fixed;
}

#headId {
    height: 10vh;
    width: 100vw;
    background-color: rgb(106, 152, 212);
    overflow: hidden;
    float: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#logoText {
    margin: 15px; 
    color: antiquewhite;
    font-weight: bolder;
    font-family: cursive;
    font-size: 175%;
}

#inBody {
    height: 85vh;
    width: 100vw;
    background-color: rgb(221, 218, 218);
    float: right;
    color: whitesmoke;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: auto;
    position: relative;
}

#footerId {
    height: 5vh;
    width: 100vw;
    background-color: rgb(106, 152, 212);
    float: right;
    text-align: center;
}

.postClass {
    margin: 1%;
    height: 17%;
    width: 18%;
    background-color: rgba(189, 201, 224, 0.486);
    float: left;
    border-radius: 10px;
    border-width: 0;
    background-size: 100% 100%;
    overflow: hidden;
}

.postClass:hover {
    cursor: pointer;
}

.postOpen {
    pointer-events: none;
    margin: 0;
    height: 90vh;
    width: 100vw;
    transition: width 2s, height 2s;
    color: whitesmoke;
}

#closeButtonId {
    height: 5vh;
    width: 5vw;
    background-color: rgb(5, 26, 54);
    overflow: hidden;
    border-width: 0;
    border-radius: 10px;
    color: antiquewhite;
    float: right;
    margin: 5px;
    cursor: pointer;
}

#closeButtonId:hover {
    opacity: 75%;
}

#postHeaderId {
    height: 10vh;
    width: 100vw;
    background-color: rgb(106, 152, 212);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

#postHeaderTextDivId {
    background-color: rgb(106, 152, 212);
    float: left;
    padding: 15px;
    color: antiquewhite;
    font-weight: bolder;
    font-family: cursive;
    font-size: 175%;

}

.content {
     text-decoration-color: rgb(117, 157, 209);
     overflow: auto;
}

.p1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: bolder;
    background-color: rgb(46, 42, 42);
}

#postInternalId {
    height: 45%;
    width: 40%;
    margin-top: 5%;
    margin-left:5%;
    background-color: red;
    border-radius: 10px;
    pointer-events:painted;
    overflow: auto;
    scroll-behavior:smooth;
    opacity: 0%;
}

#postInternalId:hover {
    height: 50%;
    width: 60%;
    transition: width 2s, height 2s;
}

h2 {
    margin-left: 20px;
}

pre {
    font-size: 1rem;
    font-weight: bold;
}

#funZoneId {
    height: 200px;
    width: 200px;
}