img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {display: none;}
#logo{
	margin-top: -5px;
	margin-left: 6px;
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 #a8a8f8, 0 6px 20px 0 #a8a8f8;
}

.HCKMERegForm {
	border: 10px solid #a8a8f8;
	width: 90%;
	margin: 10% auto;
	background-color: a8a8f8;
	box-shadow: 1px 1px 5px 6px #a8a8f8;
	font-family: Arial, Helvetica, sans-serif;
}

.regtxt {
	width: 100%;
	border-radius: 15px;
	padding: 4px 10px;
	margin: 1px 0;
	display: inline-block;
	border: 5px solid #a8a8f8;
	box-sizing: border-box;
}

.required:before
{
    color: white;
    content: " *";
}
.required:after
{
    color: white;
    content: "  (Required)";
	font-size: 12px;
}

.regtxt:focus {
	outline-color: #a8a8f8;
	outline-style: auto;
}

.ltxt {
	color: white;
}


.regSubmit {
	background-color: white;
	color: black;
	border: 10px solid #afafff;
	cursor: pointer;
	width: 100px;
	margin: 1px 0;
	font-weight: bold;
	font-size: 16px;
	outline-color: white;
}

.chb {
	outline-color: white;
}

.regSubmit:hover,.button:hover {
	opacity: 0.4;
}
